<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mano down</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <marquee><h1>semana do saco cheio</h1></marquee>
        <p></p>
        <p></p>
        <p></p>
    <marquee><img src="static/img/laele.png" alt="gay" width="700px" height="300px"></marquee>
        <p></p>
        <p></p>
        <p></p>
    <marquee><img src="static/img/macacochave.png" alt="gay" width="700px" height="300px"></marquee>
</body>
</html>